<!DOCTYPE html>
<html>

{% extends "base.html" %}

{% block title %}Add School – Captain I Can!{% endblock %}
{% block page_title %}Add School Information{% endblock %}
<link rel="stylesheet"
     	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
{% block content %}


<body class="container mt-5">

<h2>Add School Information</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, msg in messages %}
      <div class="alert alert-{{ category }}">{{ msg }}</div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST">
	<br>
	<label class="form-label">School Name (Required)</label>
        <input type="text" class="form-control" name="name"style="width:500px;">

        <label class="form-label">Address (Required)</label>
        <input type="text" class="form-control" name="address" style="width:500px;">

        <label class="form-label">Contact Person (Required) </label>
        <input type="text" class="form-control" name="contact_person" style="width:500px;">

        <label class="form-label">Contact Phone </label>
        <input type="text" class="form-control" name="contact_phone" style="width:500px;">

        <label class="form-label">Contact Email </label>
        <input type="text" class="form-control" name="contact_email" style="width:500px;">

        <label class="form-label">Capacity</label>
        <input type="number" class="form-control" name="capacity" style="width:500px;">

        <label class="form-label">Start Time</label>
        <input type="time" class="form-control" name="start_time" style="width:500px;">

        <label class="form-label">End Time</label>
        <input type="time" class="form-control" name="end_time" style="width:500px;">
    
        <label class="form-label">Exam Dates</label>
        <textarea class="form-control" name="exam_dates" style="width:500px;"></textarea>
    
        <label class="form-label">Holidays</label>
        <textarea class="form-control" name="holidays" style="width:500px;"></textarea>

        <label class="form-label">Number of Teachers</label>
        <input type="number" class="form-control" name="num_teachers" style="width:500px;">
	</br>
	

    <button type="submit" class="btn btn-primary">Save School</button>
    <a href="{{ url_for('list_schools') }}" class="back-link">Back to list</a>
</form>

</body>

</html>